@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  margin: 0 !important;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  white-space: normal;
}

body:lang(ar) {
  font-family: 'Cairo', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.owl-wrapper-outer {
  height: 100% !important;
}

.owl-wrapper {
  height: 100%;
}

.owl-item {
  height: 100%;
}

.b-Amarelo {
  height: 100%;
}

.owl-item h1 {
  margin: 0;
}

@-webkit-keyframes clockwise-rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes clockwise-rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes anti-clockwise-rotating {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes anti-clockwise-rotating {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes clockwise-rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes anti-clockwise-rotating {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.container {
  max-width: 960px;
  margin: auto;
}

.h1--main {
  font-size: 2.625rem;
  font-weight: 700;
  color: #ffffff;
}

.h2--main {
  font-size: 1.625rem;
  font-weight: 400;
  color: #ffffff;
}

.h2--main span {
  font-weight: 500;
}

.h1--txt {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1e2611;
}

.h2--txt {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1e2611;
}

.h2--txt span {
  font-weight: 500;
}

.h2--txt:lang(ar) {
  text-align: right;
}

.normal--txt {
  font-size: 1rem;
  font-weight: 500;
  color: #1e2611;
}

.normal--txt:lang(ar) {
  text-align: right;
}

.menu__txt {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #1e2611;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__txt:lang(ar) {
  text-align: right;
  direction: rtl;
}

.anchor {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 75px;
}

.anchor img {
  margin-left: 0.5rem;
  margin-top: 2px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.anchor img:lang(ar) {
  margin-left: 0.5rem;
  margin-right: 0;
}

.anchor.arrow__rotate img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.anchor:lang(ar) {
  text-align: right;
  direction: rtl;
}

.light__txt {
  font-size: 1rem;
  font-weight: 500;
  color: #818181;
}

.light__txt:lang(ar) {
  text-align: right;
  direction: rtl;
}

.small__light__txt {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1em;
  color: #818181;
}

.small__light__txt:lang(ar) {
  text-align: right;
  direction: rtl;
}

.btn__txt {
  font-size: 0.875em;
  font-weight: 700;
  color: #ffffff;
}

.btn__txt:lang(ar) {
  text-align: right;
  direction: rtl;
}

.white {
  color: #ffffff;
}

.black {
  color: #111111;
}

.green {
  color: #38b349;
}

.red {
  color: #ff374e;
}

.btn__primary {
  background: #1e2611;
  color: #ffffff;
}

.btn__success {
  background: #38b349;
  color: #ffffff;
}

.btn__trans {
  background: transparent;
}

.section--header {
  position: relative;
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.section--header::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 75px;
  background: #ffde5c;
}

.section--header:lang(ar) {
  direction: rtl;
}

.section--header:lang(ar)::before {
  content: '';
  bottom: 0;
  right: 0;
}

.h3--txt {
  font-size: 18px;
  font-weight: 600;
}

.h3--txt:lang(ar) {
  direction: rtl;
}

.p--bold {
  font-size: 14px;
  font-weight: 500;
}

.p--bold:lang(ar) {
  direction: rtl;
}

.section--a {
  background: url("../images/bg2-grey.jpg") center/cover no-repeat;
  padding: 4rem 0 6rem 0;
}

.section--b {
  background: url("../images/bg1.jpg") center/cover no-repeat;
  padding: 4rem 0 6rem 0;
}

.decorations {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.decorations img {
  width: auto !important;
}

.decorations--right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.decorations--left {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.generic--link {
  width: 100%;
  display: block;
  color: #ffde5c;
  text-decoration: underline;
  font-weight: 600;
  text-align: right;
}

.generic--link:lang(ar) {
  direction: rtl;
  text-align: left;
}

.header--wrapper {
  position: fixed;
  top: 0;
  background: transparent;
  width: 100%;
  z-index: 1100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header--wrapper.pages {
  border-bottom: 2px solid #ffde5c;
  background-color: #1e2611;
}

.header--wrapper.pages .header .header__settings {
  height: 0;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  overflow: hidden;
}

.header--wrapper .header {
  height: 100%;
}

.header--wrapper .header__settings {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header--wrapper .header__settings .settings__list {
  margin: 0;
  margin-top: 0.75rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--wrapper .header__settings .settings__list--item {
  margin-right: 0.5rem;
}

.header--wrapper .header__settings .settings__list--item:last-child {
  margin-right: 0;
}

.header--wrapper .header__settings:lang(ar) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header--wrapper .header__settings:lang(ar) .settings__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header--wrapper .header__settings:lang(ar) .settings__list--item {
  margin-right: 0;
  margin-left: 0.5rem;
}

.header--wrapper .header__settings:lang(ar) .settings__list--item:last-child {
  margin-right: 0;
  margin-left: 0;
}

.header--wrapper .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header--wrapper .header .nav > * {
  margin: 0;
  margin-right: 3.5rem;
}

.header--wrapper .header .nav > *:last-child {
  margin-right: 0;
}

.header--wrapper .header .nav > *:lang(ar) {
  margin-right: 0;
  margin-left: 3.5rem;
}

.header--wrapper .header .nav > *:lang(ar):last-child {
  margin-left: 0;
}

.header--wrapper .header .nav__logo {
  max-width: 120px;
}

.header--wrapper .header .nav__logo img {
  width: 100%;
}

.header--wrapper .header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.header--wrapper .header .nav__list--item {
  position: relative;
  height: 100%;
}

.header--wrapper .header .nav__list--item.menu--dropper .dropdown--list {
  margin: 0;
  padding: 0;
  list-style: none;
  top: 105%;
  position: absolute;
  width: 220px;
  background: #1e2611;
  display: none;
}

.header--wrapper .header .nav__list--item.menu--dropper .dropdown--list__item {
  width: 100%;
  background: #ffde5c;
  margin-bottom: 1px;
}

.header--wrapper .header .nav__list--item.menu--dropper .dropdown--list__item .anchor {
  padding: 0.75rem 1rem;
}

.header--wrapper .header .nav__list--item.menu--dropper .dropdown--list__item:hover {
  background: #f5cc00;
}

.header--wrapper .header .nav__list--item.menu--dropper:hover .dropdown--list {
  display: block;
}

.header--wrapper .header .nav__list--item .menu--anchor {
  margin-bottom: 0.8rem;
}

.header--wrapper .header .nav__list--item .toggle--mobile--nav {
  display: none;
  cursor: pointer;
}

.header--wrapper .header .nav__list--item .active-bar {
  background: #ffde5c;
  height: 1.5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: background 0.6s, -webkit-transform 0.6s;
  transition: background 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, background 0.6s;
  transition: transform 0.6s, background 0.6s, -webkit-transform 0.6s;
}

.header--wrapper .header .nav__list--item.active a {
  color: #ffde5c;
}

.header--wrapper .header .nav__list--item.active .active-bar {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header--wrapper .header .nav__list--item:hover .active-bar {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header--wrapper .header .nav__list:lang(ar) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header--wrapper .header .nav:lang(ar) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.mobile--aside {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  background: #1e2611;
  height: 100vh;
  z-index: 1100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.mobile--aside:lang(ar) {
  right: auto;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.mobile--aside.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile--aside__header {
  padding: 1.25rem;
  width: 100%;
  background: #ffde5c;
  margin-bottom: 1px;
}

.mobile--aside__header .close--anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #1e2611;
  margin-bottom: 1rem;
  cursor: pointer;
}

.mobile--aside__header .close--anchor img {
  max-width: 20px;
}

.mobile--aside__header .close--anchor:lang(ar) {
  margin-left: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mobile--aside__body {
  width: 100%;
}

.mobile--aside .aside--list {
  margin: 0;
  width: 100%;
}

.mobile--aside .aside--list__item {
  width: 100%;
  background: #ffde5c;
  margin-bottom: 1px;
}

.mobile--aside .aside--list__item .anchor {
  padding: 0.75rem 1rem;
}

.mobile--aside .aside--list__item .pos-relative {
  background: #1e2611;
}

.mobile--aside .aside--list__item .collapse--list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile--aside .aside--list__item .collapse--list__item {
  border-bottom: 1px solid #ffde5c;
}

.mobile--aside .aside--list__item .collapse--list__item .anchor {
  font-size: 0.9rem;
  padding: 0.75rem 1rem;
}

.mobile--aside__footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile--aside__footer .normal--txt {
  display: block;
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
}

.mobile--aside:lang(ar) {
  right: auto;
  left: 0;
}

.sticky--menu {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 225px;
  z-index: 901;
}

.sticky--menu__item {
  background: #ffde5c;
  height: 50px;
  width: 100%;
  margin-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(175px);
          transform: translateX(175px);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.sticky--menu__item:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sticky--menu__item .sticky-item-icons {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky--menu__item .sticky-item-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.sticky--menu__item .sticky-item-content img {
  margin: 0 0.75rem;
}

.ecc--hero {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.ecc--hero--list {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ecc--hero--list__item {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ecc--hero--list__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
}

.ecc--hero--list__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 !important;
}

.ecc--hero--list__item .content {
  z-index: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
}

.ecc--hero--list__item .content .h1--main {
  margin-bottom: 2rem;
}

.ecc--hero--list__item .content .h2--main {
  text-align: center;
}

.ecc--hero .owl-item,
.ecc--hero .item {
  height: 100vh;
}

.ecc--hero .owl-theme .owl-dots {
  position: absolute;
  bottom: 32px;
  width: 100%;
}

.ecc--hero .owl-theme .owl-dots .owl-dot {
  margin: 0 1rem;
  height: 20px;
  width: 20px;
}

.ecc--hero .owl-theme .owl-dots .owl-dot.active {
  border: 1px solid #ffde5c;
}

.ecc--hero .owl-theme .owl-dots .owl-dot span {
  background: #FFFFFF;
  border-radius: 0;
  height: 8px;
  width: 8px;
  margin: auto;
}

.footer--icon--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about--cards__item {
  position: relative;
  height: 300px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-right: 2rem;
}

.about--cards__item .scroll--item {
  padding: 2rem;
  height: 300px;
  width: 300px;
}

.about--cards__item .scroll--item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(30, 38, 17, 0.5);
  z-index: 200;
}

.about--cards__item:last-child {
  margin-right: 0;
}

.about--cards__item:hover .card--content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.about--cards__item .slider--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about--cards .card--content {
  z-index: 200;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  margin-top: 2rem;
}

.about--cards .card--title {
  color: #ffde5c;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.about--cards .card--desc {
  margin-bottom: 4rem;
}

.about--cards .card--desc:lang(ar) {
  margin-bottom: 1rem;
}

.about .about--slider__nav {
  position: absolute;
  top: 0;
  right: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 300;
  cursor: pointer;
}

.about .owl-theme .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 100%;
}

.about .owl-theme .owl-nav .owl-prev,
.about .owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 300;
  outline: none;
}

.about .owl-theme .owl-nav .owl-prev img,
.about .owl-theme .owl-nav .owl-next img {
  width: 50px;
  height: 50px;
}

.about .owl-theme .owl-nav .owl-prev:focus,
.about .owl-theme .owl-nav .owl-next:focus {
  outline: none;
}

.about .owl-theme .owl-nav .owl-prev {
  left: 0;
}

.about .owl-theme .owl-nav .owl-next {
  right: 0;
}

.services .services--list__item {
  position: relative;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.services .services--list__item .service--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .services--list__item .service--icon {
  background: url("../images/icons/icon_shape.svg") center top no-repeat;
  margin-left: 2rem;
  width: 100px;
  height: 100px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 300;
}

.services .services--list__item .service--icon:lang(ar) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 2rem;
}

.services .services--list__item .service--content {
  padding: 2rem;
  margin-top: -50px;
  background: rgba(30, 38, 17, 0.65);
}

.services .services--list__item .service--title {
  color: #ffde5c;
  margin-top: 1rem;
}

.services .services--list__item .service--title:lang(ar) {
  text-align: right;
}

.services .services--list__item .service--body {
  color: #ffffff;
  font-size: 0.8rem;
}

.services .services--list__item .service--body:lang(ar) {
  text-align: right;
}

.services .services--list__item .service--link {
  padding: 0.6rem 1.25rem;
  width: 150px;
  background: rgba(30, 38, 17, 0.65);
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 100;
  margin-bottom: 2.4rem;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
}

.services .services--list__item .service--link:lang(ar) {
  text-align: right;
}

.services .owl-theme {
  margin: 0;
}

.services .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .owl-theme .owl-nav {
  position: absolute;
  top: 25%;
  right: 0;
  margin: 0;
  width: 100%;
}

.services .owl-theme .owl-nav .owl-prev,
.services .owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 300;
  outline: none;
}

.services .owl-theme .owl-nav .owl-prev img,
.services .owl-theme .owl-nav .owl-next img {
  width: 70px;
  height: 70px;
}

.services .owl-theme .owl-nav .owl-prev:focus,
.services .owl-theme .owl-nav .owl-next:focus {
  outline: none;
}

.services .owl-theme .owl-nav .owl-prev {
  left: 0;
}

.services .owl-theme .owl-nav .owl-next {
  right: 0;
}

.corp .corp--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.corp .corp--list > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.corp .corp--list > *:first-child {
  margin-right: 2rem;
}

.corp .corp--list:lang(ar) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.corp .corp--list:lang(ar) > *:first-child {
  margin-right: 0;
  margin-left: 2rem;
}

.corp .corp--list:lang(ar) .corp--left p {
  text-align: right;
}

.projects {
  padding: 0;
}

.projects--list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.projects--list > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.projects--list > *::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(30, 38, 17, 0.5);
  z-index: 200;
}

.projects--list__item {
  position: relative;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem;
  overflow: hidden;
}

.projects--list__item.btn--item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects--list__item.btn--item::before {
  content: none;
}

.projects--list__item .project--bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects--list__item .project--title {
  color: #ffde5c;
  margin-bottom: 1rem;
}

.projects--list__item .project--title:lang(ar) {
  text-align: right;
}

.projects--list__item .project--content {
  z-index: 300;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateY(3.5rem);
          transform: translateY(3.5rem);
}

.projects--list__item .project--content:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects--list__item .project--info {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects--list__item .project--info__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects--list__item .project--info__item .info--icon {
  margin-right: 0.6rem;
}

.projects--list__item .project--info__item .info--icon:lang(ar) {
  margin-right: 0;
  margin-left: 0.6rem;
}

.projects--list__item .project--info__item .info--title {
  font-size: 12px;
  font-weight: 500;
}

.projects--list__item .project--info__item:lang(ar) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects--list__item .project--info:lang(ar) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects--list__item .project--btn {
  cursor: pointer;
  color: #ffde5c;
  background: #1e2611;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #ffde5c;
}

.projects--list:lang(ar) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.certificates .certificate--list__item {
  position: relative;
  border: 1px solid #1e2611;
  padding: 32px 52px;
  height: 575px;
  background: #f7f7f7;
  overflow: hidden;
}

.certificates .certificate--list__item .certificate--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.certificates .owl-theme {
  margin: 0;
}

.certificates .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificates .owl-theme .owl-nav {
  position: absolute;
  top: 45%;
  right: 0;
  margin: 0;
  width: 100%;
}

.certificates .owl-theme .owl-nav .owl-prev,
.certificates .owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 300;
  outline: none;
}

.certificates .owl-theme .owl-nav .owl-prev img,
.certificates .owl-theme .owl-nav .owl-next img {
  width: 70px;
  height: 70px;
}

.certificates .owl-theme .owl-nav .owl-prev:focus,
.certificates .owl-theme .owl-nav .owl-next:focus {
  outline: none;
}

.certificates .owl-theme .owl-nav .owl-prev {
  left: 0;
}

.certificates .owl-theme .owl-nav .owl-next {
  right: 0;
}

.commitments .commitments--intro {
  margin: 2rem 0;
}

.commitments .commitments--item {
  margin-bottom: 2rem;
  width: 100%;
}

.commitments .commitments--item:last-child {
  margin-bottom: 0;
}

.commitments .commitments--item__anchor {
  width: 100%;
  background: #1e2611;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  border: 1px solid #ffde5c;
}

.commitments .commitments--item__anchor span {
  color: #ffde5c;
}

.commitments .commitments--item__anchor:lang(ar) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.commitments .commitments--item .commitments--item--content {
  border: 1px solid #ffde5c;
  background: #ffffff;
  padding: 2rem;
}

.footer {
  background: #1e2611;
  padding-bottom: 3rem;
}

.footer .footer--logo {
  width: 220px;
  margin-bottom: 2rem;
}

.footer .footer--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ffde5c;
  padding-bottom: 2rem;
}

.footer .footer--content > * {
  margin-left: 2rem;
}

.footer .footer--content > *:last-child {
  margin-left: 0;
}

.footer .footer--content:lang(ar) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.footer .footer--content:lang(ar) > * {
  margin-left: 0;
  margin-right: 2rem;
}

.footer .footer--content:lang(ar) > *:last-child {
  margin-left: 0;
  margin-right: 0;
}

.footer .footer--content .contact--list {
  max-width: 45%;
}

.footer .footer--content .contact--list__item {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer--content .contact--list__item img {
  margin-right: 1.5rem;
}

.footer .footer--content .contact--list__item h4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}

.footer .footer--content .contact--list__item:last-child {
  margin-bottom: 0;
}

.footer .footer--content .contact--list__item:lang(ar) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.footer .footer--content .contact--list__item:lang(ar) img {
  margin-right: 0;
  margin-left: 1.5rem;
}

.footer .footer--content .footer--quick .quick--list__item {
  margin-bottom: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer--content .footer--quick .quick--list__item img {
  margin-right: 1rem;
}

.footer .footer--content .footer--quick .quick--list__item:last-child {
  margin-bottom: 1.5rem;
}

.footer .footer--content .footer--quick .quick--list__item:lang(ar) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.footer .footer--content .footer--quick .quick--list__item:lang(ar) img {
  margin-left: 1rem;
  margin-right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer .footer--content .footer--quick .footer--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer--content .footer--quick .footer--social > * {
  margin-right: 1rem;
}

.footer .footer--content .footer--quick .footer--social > *:last-child {
  margin-right: 0;
}

.footer .footer--content .footer--quick .footer--social:lang(ar) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer--content .footer--services .service--list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.footer .footer--content .footer--services .service--list__item {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer--content .footer--services .service--list__item img {
  margin-right: 1rem;
}

.footer .footer--content .footer--services .service--list__item:lang(ar) {
  direction: rtl;
}

.footer .footer--content .footer--services .service--list__item:lang(ar) img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 1rem;
  margin-right: 0;
}

.footer .footer--content .footer--services .service--list:lang(ar) {
  direction: rtl;
}

.footer .copyrights {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copyrights p {
  font-size: 0.875rem;
  color: #ffffff;
}

.footer .h3--txt {
  color: #ffde5c;
  margin-bottom: 1rem;
}

.footer .quick--link {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
}

.footer .quick--link:lang(ar) {
  text-align: right;
}

.main--page__banner {
  height: 300px;
  background: url("../images/dayne-topkin-Sk-C-om9Jz8-unsplash.jpg") center/cover no-repeat;
  padding: 3rem 0;
}

.main--page__banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(30, 38, 17, 0.7);
  z-index: 200;
}

.main--page__banner .banner--header {
  z-index: 1000;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main--page__banner .banner--header .h1--main {
  color: #ffde5c;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 560px;
  padding: 0;
  background: #f5f5f5;
}

.contact--map {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100%;
}

.contact--map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact--form {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: 100%;
  padding: 3rem;
  padding-bottom: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact--form__left {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding-right: 3rem;
}

.contact--form__left .input--group {
  margin-bottom: 2.5rem;
  width: 100%;
}

.contact--form__left .input--group .input--item {
  display: block;
  background: transparent;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #1e2611;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.contact--form__left .check--group .input--check {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact--form__left .check--group .input--check .input--item {
  cursor: pointer;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.contact--form__left .check--group .input--check .check--box {
  cursor: pointer;
  border: 1px solid #1e2611;
  width: 24px;
  height: 24px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.contact--form__left .check--group .input--check .check--label {
  font-weight: 500;
}

.contact--form__left .check--group.selected {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.contact--form__left .check--group.selected:before, .contact--form__left .check--group.selected:after {
  content: none;
}

.contact--form__left .check--group.selected .check--box {
  background-color: #ffde5c;
  background-image: url("../images/icons/check.svg");
}

.contact--form__right {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact--form__right .message--area {
  border-left: 1px solid #1e2611;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact--form__right .message--area .message--label {
  margin-bottom: 2rem;
}

.contact--form__right .message--area .message--item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  resize: none;
  outline: none;
  border: none;
  background: none;
}

.contact--form__right .message--area .message--item:focus {
  outline: none;
}

.contact--form__right .message--area .message--item::-webkit-input-placeholder {
  color: #1e2611;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.contact--form__right .message--area .message--item:-ms-input-placeholder {
  color: #1e2611;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.contact--form__right .message--area .message--item::-ms-input-placeholder {
  color: #1e2611;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.contact--form__right .message--area .message--item::placeholder {
  color: #1e2611;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.contact--form__right .submit--group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #ffde5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 64px;
  cursor: pointer;
}

.contact--form__right .submit--group button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #1e2611;
  font-weight: 600;
  outline: none;
}

.contact--form .input--label {
  display: block;
  color: #818181;
  font-weight: 300;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .menu__txt {
    font-size: 0.85rem;
  }
  .header--wrapper .header .nav > * {
    margin: 0;
    margin-right: 1.5rem;
  }
  .header--wrapper .header .nav > *:last-child {
    margin-right: 0;
  }
  .header--wrapper .header .nav > *:lang(ar) {
    margin-right: 0;
    margin-left: 1.5rem;
  }
  .header--wrapper .header .nav > *:lang(ar):last-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .about--cards__item {
    margin-right: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about--cards__item .scroll--item {
    padding: 1.5rem;
  }
  .about--cards .card--content {
    margin-top: 0;
  }
  .footer .footer--logo {
    width: 100%;
  }
  .footer .footer--content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .footer .footer--content .contact--list {
    max-width: 100%;
  }
  .footer .footer--content .contact--list__item h4 {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 21px;
  }
  .footer .footer--content .contact--list__item h4:lang(ar) {
    text-align: right;
  }
  .footer .footer--content > * {
    margin-left: 0 !important;
    margin-bottom: 2rem !important;
  }
  .footer .footer--content > *:last-child {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }
  .footer .footer--content .footer--services .service--list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .h1--main {
    font-size: 1.8rem;
    text-align: center;
  }
  .h2--main {
    font-size: 1.125rem;
    text-align: center;
  }
  .h1--txt {
    font-size: 1rem;
  }
  .normal--txt {
    font-size: 0.8rem;
  }
  .header--wrapper .header .nav__list--item {
    display: none;
  }
  .header--wrapper .header .nav__list--item:last-child {
    display: block;
    margin-left: auto;
  }
  .header--wrapper .header .nav__list--item:lang(ar):last-child {
    margin-right: auto;
    margin-left: 0;
  }
  .header--wrapper .header .nav__list--item .toggle--mobile--nav {
    display: block;
  }
  .about--cards {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about--cards__item {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .about--cards__item .scroll--item {
    padding: 2rem;
  }
  .about--cards .card--content {
    margin-top: 2rem;
  }
  .corp .corp--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .corp .corp--list > * {
    margin: 0;
  }
  .corp .corp--list .corp--right {
    margin-bottom: 2rem;
  }
  .projects--list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100%;
  }
  .projects--list__item {
    min-height: 300px;
    width: 100%;
  }
  .certificates .certificate--list__item {
    position: relative;
    border: 1px solid #1e2611;
    padding: 1rem;
    height: 475px;
    background: #f7f7f7;
    overflow: hidden;
  }
  .certificates .certificate--list__item .certificate--img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */