@import "./base/base";
@import "./utils/variables";
@import "./utils/mixins";

// start header

.header--wrapper {
  position: fixed;
  top: 0;
  background: transparent;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  &.pages {
    border-bottom: 2px solid $secondary-color;
    background-color: $primary-color;
    .header {
      .header__settings {
        height: 0;
        transition: height 0.5s ease;
        overflow: hidden;
      }
    }
  }
  .header {
    height: 100%;
    &__settings {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .settings__list {
        margin: 0;
        margin-top: 0.75rem;
        display: flex;
        align-items: center;
        @include gap(0.5rem, row);
        &--item {
          &:last-child {
            margin-left: 2rem;
            &:lang(ar) {
              margin-left: 0;
              margin-right: 2rem;
            }
          }
        }
      }
    }
    .nav {
      display: flex;
      align-items: center;
      @include gap(3.5rem, row);
      height: 80px;
      &__logo {
        max-width: 120px;
        img {
          width: 100%;
        }
      }
      &__list {
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin: 0;
        &--item {
          position: relative;
          &.menu--dropper {
            .dropdown--list {
              margin: 0;
              padding: 0;
              list-style: none;
              top: 105%;
              position: absolute;
              width: 220px;
              background: $primary-color;
              display: none;
              &__item {
                width: 100%;
                background: $secondary-color;
                margin-bottom: 1px;
                .anchor {
                  padding: 0.75rem 1rem;
                }
                &:hover {
                  background: $yellow;
                }
              }

            }
            &:hover {
              .dropdown--list {
                display: block;
              }
            }
          }
          height: 100%;
          .menu--anchor {
            margin-bottom: 0.8rem;
          }
          .toggle--mobile--nav {
            display: none;
            cursor: pointer;
          }
          @include active-active-bar;
        }
      }
    }
  }

}
.mobile--aside {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  background: $primary-color;
  height: 100vh;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  &.open {
    transform: translateX(0);
  }
  transition: transform 0.8s ease-in-out;
  &__header {
    padding: 1.25rem;
    width: 100%;
    background: $secondary-color;
    margin-bottom: 1px;
    .close--anchor {
      @include center-content-x;
      width: 40px;
      height: 40px;
      border: 1px solid $primary-color;
      margin-bottom: 1rem;
      cursor: pointer;
      img {
        max-width: 20px;
      }
    }
  }
  &__body {
    width: 100%;
  }
  .aside--list {
    margin: 0;
    width: 100%;
    &__item {
      width: 100%;
      background: $secondary-color;
      margin-bottom: 1px;
      .anchor {
        padding: 0.75rem 1rem;
      }
      .pos-relative {
        background: $primary-color;
      }
      .collapse--list {
        list-style: none;
        margin: 0;
        padding: 0;
        &__item {
          border-bottom: 1px solid $secondary-color;
          .anchor {
            font-size: 0.9rem;
            padding: 0.75rem 1rem;
          }
        }
      }
    }
  }
  &__footer {
    flex: 1;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .aside--address {
    }
    .normal--txt {
      display: block;
      font-size: 0.75rem;
      font-weight: 300;
      text-align: center;
    }
  }
  &:lang(ar) {
    right: auto;
    left: 0;
  }
}

.sticky--menu {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 225px;
  z-index: 901;
  &__item {
    background: $secondary-color;
    height: 50px;
    width: 100%;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    transform: translateX(175px);
    transition: transform 0.6s ease-in-out;
    &:hover {
      transform: translateX(0);
    }
    .sticky-item-icons {
      width: 50px;
      @include center-content-x;
    }
    .sticky-item-content {
      flex: 1;
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 600;
      cursor: pointer;
      img {
        margin: 0 0.75rem;
      }
    }
  }
}

.ecc--hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  &--list {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    &__item {
      position: relative;
      height: 100%;
      width: 100%;
      @include center-content-y;
      @include color-overlay(#000, 0.7);
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 !important;
      }
      .content {
        z-index: 900;
        @include center-content-y;
        max-width: 700px;
        .h1--main {
          margin-bottom: 2rem;
        }
        .h2--main {
          text-align: center;
        }
      }
    }
  }
  .owl-item, .item {
    height: 100vh;
  }
  .owl-theme .owl-dots {
    position: absolute;
    bottom: 32px;
    width: 100%;
    .owl-dot {
      margin: 0 1rem;
      height: 20px;
      width: 20px;
      &.active {
        border: 1px solid $secondary-color;
      }
      span {
        background: #FFFFFF;
        border-radius: 0;
        height: 8px;
        width: 8px;
        margin: auto;
      }
    }
  }
}

.footer--icon--group {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.about {
  &--cards {
    display: flex;
    &__item {
      position: relative;
      height: 300px;
      width: 300px;
      display: flex;
      align-items: center;
      overflow: hidden;
      margin-right: 2rem;
      .scroll--item {
        @include color-overlay($primary-color, 0.5);
        padding: 2rem;
        height: 300px;
        width: 300px;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        .card--content {
          transform: translateY(0);
        }
      }
      .slider--bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card--content {
      z-index: 200;
      transform: translateY(68px);
      transition: transform 0.5s ease;
      margin-top: 2rem;
    }
    .card--title {
      color: $secondary-color;
      margin-bottom: 2rem;
      text-transform: capitalize;
    }
    .card--desc {
      margin-bottom: 4rem;
    }
  }
  .about--slider__nav {
    position: absolute;
    top: 0;
    right: 32px;
    justify-content: space-between;
    width: 280px;
    display: flex;
    z-index: 300;
    cursor: pointer;
  }
  .owl-theme .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 100%;
    .owl-prev, .owl-next {
      position: absolute;
      top: 0;
      margin: 0;
      z-index: 300;
      img {
        width: 50px;
        height: 50px;
      }
      outline: none;
      &:focus {
        outline: none;
      }
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0
    }
  }
}

.services {
  .services--list {
    // display: flex;
    // @include gap(2rem, row);
    > * {
      // flex: 1;
    }
    &__item {
      position: relative;
      height: 540px;
      // width: 460px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .service--bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .service--icon {
        background: url('../images/icons/icon_shape.svg') center top no-repeat;
        margin-left: 2rem;
        width: 100px;
        height: 100px;
        padding: 1rem;
        @include center-content-x;
        z-index: 300;
      }
      .service--content {
        padding: 2rem;
        margin-top: -50px;
        background: rgba($primary-color, 0.65);
      }
      .service--title {
        color: $secondary-color;
        margin-top: 1rem;
      }
      .service--body {
        color: $white;
        font-size: 0.8rem;
      }
      .service--link {
        padding: 0.6rem 1.25rem;
        width: 150px;
        background: rgba($primary-color, 0.65);
        align-self: flex-end;
        z-index: 100;
        margin-bottom: 2.4rem;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
      }
    }
  }

  // owl config
  .owl-theme {
    margin: 0;
  }
  .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
  }
  
  .owl-theme .owl-nav {
    position: absolute;
    top: 25%;
    right: 0;
    margin: 0;
    width: 100%;
    .owl-prev, .owl-next {
      position: absolute;
      top: 0;
      margin: 0;
      z-index: 300;
      img {
        width: 70px;
        height: 70px;
      }
      outline: none;
      &:focus {
        outline: none;
      }
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0
    }
  }
}

.corp {
  .corp--list {
    display: flex;
    align-items: center;
    @include gap(2rem, row);
    > * {
      flex: 1;
    }
  }
}

.projects {
  padding: 0;
  &--list {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    > * {
      flex: 1;
      @include color-overlay($primary-color, 0.5);
    }
    &__item {
      position: relative;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 2rem;
      overflow: hidden;
      &.btn--item {
        justify-content: center;
        align-items: center;
        &::before {
          content: none;
        }
      }
      .project--bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .project--title {
        color: $secondary-color;
        margin-bottom: 1rem;

      }
      .project--content {
        z-index: 300;
        transition: transform 0.5s ease;
        transform: translateY(3.5rem);
        &:hover {
          transform: translateY(0);
        }
      }
      .project--info {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        &__item {
          flex: 1;
          display: flex;
          align-items: center;
          .info--icon {
            margin-right: 0.6rem;
          }
          .info--title {
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
      .project--btn {
        cursor: pointer;
        color: $secondary-color;
        background: $primary-color;
        padding: 12px 30px;
        font-size: 1rem;
        font-weight: 500;
        border: 1px solid $secondary-color;
      }
    }
  }
}

@import "./utils/responsive";


