@import "./base/base";
@import "./utils/variables";
@import "./utils/mixins";

// start header

.header--wrapper {
  position: fixed;
  top: 0;
  background: transparent;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  &.pages {
    border-bottom: 3px solid $secondary-color;
    background-color: $primary-color;
  }
  .header {
    height: 100%;
    &__settings {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .settings__list {
        margin: 0;
        margin-top: 0.75rem;
        display: flex;
        align-items: center;
        @include gap(0.5rem, row);
        &--item {
          &:last-child {
            margin-left: 2rem;
            &:lang(ar) {
              margin-left: 0;
              margin-right: 2rem;
            }
          }
        }
      }
    }
    .nav {
      display: flex;
      align-items: center;
      @include gap(3.5rem, row);
      height: 80px;
      &__logo {
        max-width: 120px;
        img {
          width: 100%;
        }
      }
      &__list {
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin: 0;
        &--item {
          position: relative;
          &.menu--dropper {
            .dropdown--list {
              margin: 0;
              padding: 0;
              list-style: none;
              top: 105%;
              position: absolute;
              width: 220px;
              background: $primary-color;
              display: none;
              &__item {
                width: 100%;
                background: $secondary-color;
                margin-bottom: 1px;
                .anchor {
                  padding: 0.75rem 1rem;
                }
                &:hover {
                  background: $yellow;
                }
              }

            }
            &:hover {
              .dropdown--list {
                display: block;
              }
            }
          }
          height: 100%;
          .menu--anchor {
            margin-bottom: 0.8rem;
          }
          .toggle--mobile--nav {
            display: none;
            cursor: pointer;
          }
          @include active-active-bar;
        }
      }
    }
  }

}
.mobile--aside {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  background: $primary-color;
  height: 100vh;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  &.open {
    transform: translateX(0);
  }
  transition: transform 0.8s ease-in-out;
  &__header {
    padding: 1.25rem;
    width: 100%;
    background: $secondary-color;
    margin-bottom: 1px;
    .close--anchor {
      @include center-content-x;
      width: 40px;
      height: 40px;
      border: 1px solid $primary-color;
      margin-bottom: 1rem;
      cursor: pointer;
      img {
        max-width: 20px;
      }
    }
  }
  &__body {
    width: 100%;
  }
  .aside--list {
    margin: 0;
    width: 100%;
    &__item {
      width: 100%;
      background: $secondary-color;
      margin-bottom: 1px;
      .anchor {
        padding: 0.75rem 1rem;
      }
      .pos-relative {
        background: $primary-color;
      }
      .collapse--list {
        list-style: none;
        margin: 0;
        padding: 0;
        &__item {
          border-bottom: 1px solid $secondary-color;
          .anchor {
            font-size: 0.9rem;
            padding: 0.75rem 1rem;
          }
        }
      }
    }
  }
  &__footer {
    flex: 1;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .aside--address {
    }
    .normal--txt {
      display: block;
      font-size: 0.75rem;
      font-weight: 300;
      text-align: center;
    }
  }
  &:lang(ar) {
    right: auto;
    left: 0;
  }
}

.sticky--menu {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 225px;
  z-index: 901;
  &__item {
    background: $secondary-color;
    height: 50px;
    width: 100%;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    transform: translateX(175px);
    transition: transform 0.6s ease-in-out;
    &:hover {
      transform: translateX(0);
    }
    .sticky-item-icons {
      width: 50px;
      @include center-content-x;
    }
    .sticky-item-content {
      flex: 1;
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 600;
      cursor: pointer;
      img {
        margin: 0 0.75rem;
      }
    }
  }
}

.ecc--hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  &--list {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    &__item {
      position: relative;
      height: 100%;
      width: 100%;
      @include center-content-y;
      @include color-overlay(#000, 0.7);
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 !important;
      }
      .content {
        z-index: 900;
        @include center-content-y;
        max-width: 700px;
        .h1--main {
          margin-bottom: 2rem;
        }
        .h2--main {
          text-align: center;
        }
      }
    }
  }
  .owl-item, .item {
    height: 100vh;
  }
  .owl-theme .owl-dots {
    position: absolute;
    bottom: 32px;
    width: 100%;
    .owl-dot {
      margin: 0 1rem;
      height: 20px;
      width: 20px;
      &.active {
        border: 1px solid $secondary-color;
      }
      span {
        background: #FFFFFF;
        border-radius: 0;
        height: 8px;
        width: 8px;
        margin: auto;
      }
    }
  }
}

.footer--icon--group {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

@import "./utils/responsive";


