// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  // max-width: 100%;
}

ul {
  margin: 0 !important;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  white-space: normal;
  &:lang(ar) {
    font-family: 'Cairo', sans-serif;
  }
}

::-webkit-scrollbar {
  width: 6px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.owl-wrapper-outer {
  height: 100% !important;    
}

.owl-wrapper {
   height: 100%;   
}

.owl-item {
  height: 100%;
}

.b-Amarelo {
  height: 100%;
}

.owl-item h1 {
  margin: 0;
}